<div class="body">
    <div class="login">
      <mat-spinner class="spinner" *ngIf="loading" diameter="50"></mat-spinner>
       
      <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
          <img src="./assets/img/programmer.png" alt="" width="50%">
          <h1>Login</h1>
          <mat-form-field class="ancho">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off" formControlName="usuario">
          </mat-form-field>
            <mat-form-field class="ancho">
              <mat-label>Password</mat-label>
              <input type="password" matInput autocomplete="off" formControlName="password">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" class="button">Ingresar</button>
          </form>
    </div>
</div>
